@model ServiceBook.Models.Email
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

</head>
<body>

    
    
    <div class="container">
        <h1>Hello @Model.ServiceVM.Vehicle.VehicleOwner.FirstName @Model.ServiceVM.Vehicle.VehicleOwner.LastName !</h1>
        <p>Your vehicle with identifier: @Model.ServiceVM.Vehicle.Identifier it is ready!</p>
        <p>The repairs costs: @Model.ServiceVM.Price EURO </p>
        <h3>List of repairs:</h3>
        <table class="table" >
            <thead style="background:grey; margin:5px; height:10px; width:600px">
                <tr>
                    <th style="margin:5px; font-size: 15px; height:30px; width:300px" >Intervention</th>
                    <th style="margin:5px; font-size: 15px; height:30px; width:300px">Price</th>
                </tr>
            </thead>
            <tbody style="background:LightSteelBlue; " >
                @foreach (var repaire in Model.Repairs)
                {
                    <tr style="margin:5px; height:10px; width:600px" >
                        <td style="margin:5px; padding-left: 10px; font-size:15px; height:30px; width:300px">@repaire.Name</td>
                        <td style="margin:5px; padding-left: 10px; font-size:15px; height:20px; width:300px" >@repaire.Price &euro;</td>                        
                    </tr>
                }
                
                <tr style="margin:5px 10px 5px 10px; background:Red; ">
                    <td style="margin:5px; padding-left: 10px; font-size: 15px; height:20px; width:300px"></td>
                    <td style="margin:5px; padding-left: 10px; font-size: 15px; height:20px; width:300px">Total: @Model.ServiceVM.Price &euro;</td>
                </tr>
            </tbody>
        </table>
    </div>

    <p><b>Next service date: @Model.ServiceVM.NextVisitDate </b></p>
    <p><b>Next service km: @Model.ServiceVM.NextVisitKm </b></p>
    <form id="form1" method="post" action="http://localhost:2218/Review/Index">
        <div>
            <label for="status">Review</label>
        </div>
        <div>
            <textarea id="Review" name="Review" rows="4" cols="50">
            </textarea>
        </div>
        <div>
            <label for="status">Rate</label>
        </div>
        <div>
            <input name="Rate" id="Rate" type="text" />
            <span>/10</span>
        </div>
        
        <div>
            <input type="hidden" id="ID" name="ID" value=@Model.ServiceVM.ID />
           
        </div>
        <div>
            <input type="submit" value="Submit" />
        </div>
    </form>

</body>
</html>
